*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* .hero{
  background-image:linear-gradient(rgba(172, 164, 164, 0.8),rgba(172, 164, 164, 0.8));
  justify-content: center;
  padding: 0 7%;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  position: relative;
}
nav{
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  justify-content: space-between;
  align-items: center;
  position: absolute;

} */

.hero{ 
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 7%;
  position: relative;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px 7%;
}
nav>img{ 
  width: 100px;

}
nav>ul> li{
  display: inline-block;
  list-style: none;
  margin-left: 60px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.container{
  text-align: center;

}
.container h1{
  font-size: 75px;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
.container h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.btn{
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  font-size: 25px;
  display: inline-block;
  padding: 20px 70px;
  border: 2px solid #fff;
  border-radius: 30px;
}
.video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media(min-aspect-ratio:16/9){
  .video{
    width: 100%;
    height: auto;
  }

}
@media (max-aspect-ratio:16/9) {
  .video{
    width: auto;
    height: 100%;
  }
}
@media (min-width:400px) {
  nav{
    width: 100%;
  }
   
}
@media (min-width:800px) {
  nav{
    width: 100%;
  }
   
}
@media (min-width:400px) {
  .video{
    width: 100%;
  }
   
}
@media ( max-width:800px) {
  .video{
    width: 100%;
  }
   
}